@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
body{
	height:0px;
	width:0px;}
a{
	text-decoration:none;}
.clear{
	clear:both;}
/*背景地图的属性*/
.map{
	position:relative;
	z-index:-1;
}
.map img{
    background-size:cover;/*调动浏览器百分比背景图会跟着变化*/
}
/*//////////////////////////////////圈点属性////////////////////////////*/
.point{
	transform: scale(.3,.3);
}
.point>a{
	display:block;
	background-color:rgba(255,255,255,0.7);
	color:#18B0AB;
	width:18px;
	height:18px;
	line-height:18px;
	font-size:12px;
	border:#18B0AB 1px solid;
	border-radius:100%;
	text-align:center;
	/*transform: scale(.3,.3);*/
	}
	 /*圆圈要给固定值不然会随着浏览器百分比变化而变化*/
.point:nth-child(2){
position:absolute;
left:449.2px;
top:580px;
}
.point:nth-child(3){
position:absolute;
left:456.2px;
top:552.4px;
}
.point:nth-child(4){
position:absolute;
left:435.4px;
top:504px;
}
.point:nth-child(5){
position:absolute;
left:429.8px;
top:484px;
}
.point:nth-child(6){
position:absolute;
left:454.8px;
top:473px;
}
.point:nth-child(7){
position:absolute;
left:417px;
top:421px;
}
.point:nth-child(8){
position:absolute;
left:427px;
top:413px;
}
.point:nth-child(9){
position:absolute;
left:569.6px;
top:485px;
}
.point:nth-child(10){
position:absolute;
left:583.6px;
top:472.8px;
}
.point:nth-child(11){
position:absolute;
left:607px;
top:462.4px;
}
.point:nth-child(12){
position:absolute;
left:627px;
top:445.6px;
}
.point:nth-child(13){
position:absolute;
left:648.2px;
top:429.4px;
}
.point:nth-child(14){
position:absolute;
left:588.8px;
top:370.6px;
}
.point:nth-child(15){
position:absolute;
left:692.8px;
top:394.4px;
}
.point:nth-child(16){
position:absolute;
left:688.2px;
top:362.4px;
}
.point:nth-child(17){
position:absolute;
left:743.6px;
top:372.2px;
}
.point:nth-child(18){
position:absolute;
left:846.6px;
top:291.4px;
}
.point:nth-child(19){
position:absolute;
left:891.6px;
top:255px;
}
.point:nth-child(20){
position:absolute;
left:927.8px;
top:226.2px;
}
.point:nth-child(21){
position:absolute;
left:938.6px;
top:214.4px;
}
.point:nth-child(22){
position:absolute;
left:968.4px;
top:196.8px;
}
.point:nth-child(23){
position:absolute;
left:1019.2px;
top:155.6px;
}
.point:nth-child(24){
position:absolute;
left:1063.8px;
top:102.4px;
}
.point:nth-child(25){
position:absolute;
left:1029.2px;
top:64.6px;
}
.point:nth-child(26){
position:absolute;
left:1008.2px;
top:61.6px;
}
.point:nth-child(27){
position:absolute;
left:1045.4px;
top:29px;
}
.point:nth-child(28){
position:absolute;
left:898.8px;
top:58.4px;
}
.point:nth-child(29){
position:absolute;
left:902.2px;
top:89.2px;
}
.point:nth-child(30){
position:absolute;
left:898.6px;
top:108px;
}
.point:nth-child(31){
position:absolute;
left:889.6px;
top:151.8px;
}
.point:nth-child(32){
position:absolute;
left:886.8px;
top:185.8px;
}
.point:nth-child(33){
position:absolute;
left:846.8px;
top:196px;
}
.point:nth-child(34){
position:absolute;
left:823.2px;
top:200.6px;
}
.point:nth-child(35){
position:absolute;
left:804.4px;
top:241px;
}
.point:nth-child(36){
position:absolute;
left:799.6px;
top:221.4px;
}
.point:nth-child(37){
position:absolute;
left:774.2px;
top:212.6px;
}
.point:nth-child(38){
position:absolute;
left:790.8px;
top:206px;
}
.point:nth-child(39){
position:absolute;
left:760.6px;
top:188px;
}
.point:nth-child(40){
position:absolute;
left:741.8px;
top:163.6px;
}
.point:nth-child(41){
position:absolute;
left:753.4px;
top:152.2px;
}
.point:nth-child(42){
position:absolute;
left:751.2px;
top:118.4px;
}
.point:nth-child(43){
position:absolute;
left:732.6px;
top:65.8px;
}
.point:nth-child(44){
position:absolute;
left:712.2px;
top:167.4px;
}
.point:nth-child(45){
position:absolute;
left:760.6px;
top:247.6px;
}
.point:nth-child(46){
position:absolute;
left:720.6px;
top:244.8px;
}
.point:nth-child(47){
position:absolute;
left:722.8px;
top:257.2px;
}
.point:nth-child(48){
position:absolute;
left:680.8px;
top:255.8px;
}
.point:nth-child(49){
position:absolute;
left:657.6px;
top:142.8px;
}
.point:nth-child(50){
position:absolute;
left:610.2px;
top:156.2px;
}
.point:nth-child(51){
position:absolute;
left:559.8px;
top:173.8px;
}
.point:nth-child(52){
position:absolute;
left:579.4px;
top:309.6px;
}
.point:nth-child(53){
position:absolute;
left:567.2px;
top:317.6px;
}
.point:nth-child(54){
position:absolute;
left:494.4px;
top:292.6px;
}
.point:nth-child(55){
position:absolute;
left:470.8px;
top:260.6px;
}
.point:nth-child(56){
position:absolute;
left:459.8px;
top:244.8px;
}
.point:nth-child(57){
position:absolute;
left:444.4px;
top:250px;
}
.point:nth-child(58){
position:absolute;
left:437.6px;
top:240.2px;
}
.point:nth-child(59){
position:absolute;
left:471px;
top:206.6px;
}
.point:nth-child(60){
position:absolute;
left:444.8px;
top:210.8px;
}
.point:nth-child(61){
position:absolute;
left:481px;
top:161.2px;
}
.point:nth-child(62){
position:absolute;
left:461.6px;
top:137.8px;
}
.point:nth-child(63){
position:absolute;
left:458.2px;
top:125.6px;
}
.point:nth-child(64){
position:absolute;
left:411.2px;
top:116.8px;
}
.point:nth-child(65){
position:absolute;
left:409.2px;
top:107.6px;
}
.point:nth-child(66){
position:absolute;
left:384px;
top:102.2px;
}
.point:nth-child(67){
position:absolute;
left:370.6px;
top:113.6px;
}
.point:nth-child(68){
position:absolute;
left:410.4px;
top:282.6px;
}
.point:nth-child(69){
position:absolute;
left:393px;
top:291px;
}
.point:nth-child(70){
position:absolute;
left:399.8px;
top:306px;
}
.point:nth-child(71){
position:absolute;
left:363px;
top:285.6px;
}
.point:nth-child(72){
position:absolute;
left:496.4px;
top:401.6px;
}
.point:nth-child(73){
position:absolute;
left:392px;
top:378.6px;
}
.point:nth-child(74){
position:absolute;
left:398px;
top:395.8px;
}
.point:nth-child(75){
position:absolute;
left:405px;
top:357.8px;
}
.point:nth-child(76){
position:absolute;
left:334.8px;
top:250px;
}
.point:nth-child(77){
position:absolute;
left:325.6px;
top:235.6px;
}
.point:nth-child(78){
position:absolute;
left:324px;
top:316.6px;
}
.point:nth-child(79){
position:absolute;
left:268px;
top:337.6px;
}
.point:nth-child(80){
position:absolute;
left:201.2px;
top:375.4px;
}
.point:nth-child(81){
position:absolute;
left:174.2px;
top:413.6px;
}
.point:nth-child(82){
position:absolute;
left:90px;
top:399.6px;
}
.point:nth-child(83){
position:absolute;
left:65.8px;
top:394.4px;
}
.point:nth-child(84){
position:absolute;
left:34.8px;
top:398px;
}
.point:nth-child(85){
position:absolute;
left:640.6px;
top:302.4px;
}
.point:nth-child(86){
position:absolute;
left:593.2px;
top:340.6px;
}

