@charset "utf-8";
/* CSS Document */
*{
	padding:0px;
	margin:0px;}
.Particulars{
	height:100%;
	width:100%;}
.Particulars p{
	font:宋体 14px bold italic;
	color:#666;
	margin:10px 40px;}
.Particulars strong{
	color:#000;}
.Particularstop{
	border-bottom:#999 6px solid;
	width:100%;}
.Particularsbottom{
	width:100%;}
.Particulars img{
	height:100%;
	width:100%;}