@charset "utf-8";
/* CSS Document */
html,body,div,p,strong{
	margin: 0;
	padding: 0;
}
html{
	font-size: 12px;
	font-family: 'Microsoft YaHei';
}
.Particulars{
	height:100%;
	width:100%;
	background-color: #fff;
}
.Particulars p{
	font-size: 1.3em;
	color:#555;
	padding:10px 40px;}
.Particulars strong{
	color:#000;}
.Particularstop{
	margin-bottom: 10px;
}
.Particularstop,.Particularsbottom{
	width:100%;
	background-color: #f9f9f9;
}
.Particulars img{
	height:100%;
	width:100%;
}