@charset "UTF-8";
html{
  font-size: 12px;
  font-family: "Microsoft YaHei";
}
html, body, nav, section, div {
  margin: 0;
  padding: 0; }

body {
  background-color: #fafafa; }
.clearfix{
  zoom:1
}
.clearfix:after{
  content: ' ';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.index {
  margin: 0;
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10000; }

.index i {
  padding: 2px;
  margin: 0 10px;
  width: 10%;
  height: 35px;
  line-height: 35px;
  float: left;
  background-color: inherit; }

.index p {
  margin: 0;
  font-size: 1.2em;
  width: 72%;
  height: 35px;
  line-height: 35px;
  float: left; }

#head {
  padding: 5px 10px; }

#title {
  text-align: center; }

#section {
  margin-top: 47px;
  width: 100%;
  height: 624px;
  background-color: #f1f1f1; }

#section iframe {
  width: 100%;
  height: 624px; }

.page {
  width: 1190.94281098546px;
  height: 624px; }

.page img {
  width: 100%;
  height: 100%; }


/*/////////////////////////////////悬浮框属性//////////////////////*/
.su-win{
  width: 96%;
  max-height: 250px;
  height: 220px;
  position: fixed;
  bottom: 200px;
  left: 2%;
  overflow: hidden;
  visibility: hidden;
}
.Suspension{
	width:100%;
	height:220px;
	border:#069 solid 1px;
	border-radius:10px;
  background-color:rgba(255,255,255,.7);
  display: none;
}
.Suspension img{
	padding:20px 8px;
  padding-left: 6px;
	width:100%;
  height: 220px;
  opacity: 0.95;
}
.Suspension a{
  margin: 0 auto;
  width:110px;
	height:20px;
  line-height:20px;
	background-color:#AE0000;
	font: '宋体' 1.1em bold;
	color:#FFF;
	text-align:center;
	display:block;
}
.Suspensionleft{
	width:39.99999%;
	height:100%;
	padding:10px;
  padding-right: 2px;
	float:left;
}
.Suspensionright{
	width:59.99999%;
	height:100%;
	float:left;
	}
.Suspensionleft>h2{
  margin: 0;
  text-align: center;
  font-size: 1.3em;
	font:bold 宋体;
	color:#AE0000;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
	}
.Suspensionleft>p{
  margin: 0;
	font-family: 'PingFangSC-Ultralight, sans-serif';
	font-size:12px;
  line-height: 20px;
  text-indent: 2em;
  text-overflow: ellipsis;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: 160px;
  overflow: hidden;
	color:#333;
	}
.point .Suspension{
	display:none;
	}
.point:hover .Suspension{
	position:absolute;
	display:block;
}

#footer {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  z-index: 10000;
  bottom: 0; }

.bottom {
  width: 100%;
  height: 100%; }

.bottom-location {
  width: 100%; }

.icon-button {
  display: block;
  float: left;
  padding-top: 2px;
  width: 24.99999%;
  height: 100%; }

.icon-button p {
  padding: 5px 0;
  color: #333;
  font-size: 15px;
  text-align: center;
  font-family: "Microsoft YaHei UI"; }

.location-icon {
  display: block;
  height: 35px;
  width: 35px;
  background: url("../img/demo-3.png") no-repeat; }

.bottom-location a:nth-child(1) i {
  background-position: 0 0; }

.bottom-location a:nth-child(2) i {
  background-position: -35px 0px; }

.bottom-location a:nth-child(3) i {
  background-position: -70px 0px; }

.bottom-location a:nth-child(4) i {
  background-position: -105px 0px; }

/*侧边栏css*/

.slider{
    display: none;
}
.sidebar-img{
    width: 100%;
    text-align: center;
    background-color: #069;
    // background: url("../img/login-1.png") no-repeat;
    background-size:cover;
}
.fa-paper-plane-o,.fa-heart-o{
    color: #0f0f0f;
}
.tou{
  padding: 20px 0;
}
.tou img{
    width: 85px;
    height: 85px;
    margin-top: 20px;
}
.tou p{
    color: white;
    font-size: 15px;
}
.tou span{
    display: block;
    color: white;
    font-size: 13px;
}
.sidebar-list li{
    //display:flex;
    height: 50px;
    width: 100%;
    display: block;
    background-color: #fff;
}
.sidebar-list i{
    margin: 10px 15px;
    width: 30px;
    height: 30px;
    background: url("../img/icon.png") no-repeat -183px -461px;
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
}
.sidebar-list span{
  height: 50px;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.sidebar-list a:nth-child(2) i{
    background-position: -286px -461px;
}
.sidebar-list a:nth-child(3) i{
    background-position: -391px -461px;
}
.sidebar-list a:nth-child(4) i{
    background-position: -498px -458px;
}
.sidebar-list a:nth-child(5) i{
    background-position: -594px -455px;
}
.sidebar-list a:nth-child(6) i{
    background-position: 3px -578px;
}
.sidebar-list a:nth-child(7) i{
    background-position: -109px -578px;
}
.sidebar-list a:nth-child(6) li{
    border-top: 1px solid #5e5e5e;
}
.sidebar-list a{
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    width: 100%;
    color: #0f0f0f;
    //display: block;
}


/*以下是登录界面的css*/
.login-head img{
    width: 100%;
    text-align: center;
    display: block;
}
.login-camera{
    display: block;
}
.camera{
    display: block;
    width: 45px;
    height: 45px;
    background: url("../img/icon.png") no-repeat -542px -582px;
    border-radius: 10px;
    margin-top: 15px;
}
.font{
    font-family: 微软雅黑;
}
.login-form{
}
.input{
    width: 200px;
    height: 30px;
    font-size: 15px;
    margin-top: 3px;
    margin-bottom: 21px;
}
.login-but{
    width: 165px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 16px;
    background-color: rebeccapurple;
    color: #ffffff;
}
.sign-in p{
    margin-top: 13px;
}
.line{
    text-align: center;
    font-size: 14px;
}
.line:before{
    display: inline-block;
    position: relative;
    top:-5px;
    right: 13px;
    content: "";
    width: 60px;
    height: 0;
    border: 0.5px solid #454487;
}
.line:after{
    display: inline-block;
    position: relative;
    top:-5px;
    left: 13px;
    content: "";
    width: 60px;
    color: #454487;
    height: 0px;
    border: 0.5px solid #454487;
}
.error{
    text-align: center;
    color: red;
    padding-top: 5px;
}
.other-icon{
    text-align: center;
}
.login-QQ{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 3px;
    background: url("../img/icon.png") no-repeat -38px -883px;
}
